<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24585157613-0ns9gs415hq6rtf14kg89qj6up193m8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24585157613-0ns9gs415hq6rtf14kg89qj6up193m8f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>24585157613-5b2rf6ld4jruii387gd5a4upmeqtjfs5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkwLKSnFHF0NLIGyaP9zeeMrDxFF-DdhM</string>
	<key>GCM_SENDER_ID</key>
	<string>24585157613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.videocallapp</string>
	<key>PROJECT_ID</key>
	<string>videocallhoca</string>
	<key>STORAGE_BUCKET</key>
	<string>videocallhoca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24585157613:ios:d935e722ddcad302ebc5e4</string>
</dict>
</plist>